body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: inline-block;
    cursor: pointer;
}

img {
    width: 300px;
    height: auto;
    transition: transform 1s ease;
}

.rotate {
    transform: rotate(360deg);
}
